<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roblox User Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-auto" href="/">Roblox User Info</a>
    </nav>

    <div class="container">
        <form method="POST" action="/" id="usernameForm">
            <div class="form-group">
                <label for="username" style="color: white;">Enter Roblox Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        {% if user_data %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user_data.displayName }} ({{ user_data.username }})</h5>
                    <p class="card-text">User ID: {{ user_data.userid }}</p>
                    <p class="card-text">Join Date: {{ user_data.joinDate }}</p>
                    <p class="card-text">Friends: {{ user_data.friends }}</p>
                    <p class="card-text">Followers: {{ user_data.followers }}</p>
                    <p class="card-text">Following: {{ user_data.following }}</p>
                </div>
                <div class="avatar-container">
                    <img src="{{ user_data.fullBodyAvatarThumbnail }}" alt="Avatar" class="img-avatar">
                </div>
            </div>
            
            <h4>Avatar Items:</h4>
            <div class="list-group items-list">
                {% for item in user_data.avatarItems %}
                    <div class="list-group-item">
                        <h5 class="mb-1">{{ item.name }}</h5>
                        <p class="mb-1">Item Type: {{ item.assetType.name }}</p>
                        <p class="mb-1">Item ID: {{ item.id }}</p>
                        <div class="asset-container">
                            <img src="{{ item.imageUrl }}" alt="Avatar-Asset" class="img-asset">
                        </div>
                    </div>
                {% endfor %}
            </div>

            <br>
            <h4>Groups:</h4>
            <div class="list-group groups-list">
                {% for group in user_data.groups %}
                    <div class="list-group-item d-flex align-items-center justify-content-between">
                        <div class="group-info">
                            <h5 class="mb-1">{{ group.name }}</h5>
                            <p class="mb-1">ID: {{ group.id }}</p>
                            <p class="mb-1">Group Role: {{ group.role }}</p>
                            <p class="mb-1">Rank: {{ group.rank }}</p>
                            <p class="mb-1">Description: {{ group.description }}</p> <!-- New Description -->
                            <p class="mb-1">Owner: {{ group.owner_display_name }} ({{ group.owner_username }})</p> <!-- Owner Info -->
                            <p class="mb-1">Members: {{ group.member_count }}</p>
                            <p class="mb-1">
                                Public Entry Allowed: 
                                {% if group.public_entry_allowed %}
                                    ✅ Yes
                                {% else %}
                                    ❌ No
                                {% endif %}
                            </p>
                            <p class="mb-1">
                                Has Verified Badge: 
                                {% if group.has_verified_badge %}
                                    ✅ Yes
                                {% else %}
                                    ❌ No
                                {% endif %}
                            </p>
                        </div>
                        <div class="group-container">
                            <img src="{{ group.thumbnail }}" alt="Group" class="img-group">
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <footer class="footer bg-dark text-white mt-4">
        <div class="container text-center">
            <span>&copy; {{ current_year }} Roblox User Info. All Rights Reserved.</span>
        </div>
    </footer>

    <script src="static/loading.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
